<div class="argument row">
  <div class="col-lg-10 col-md-10 col-sm-10">
    <form class="row">
      <div id="arg1" class="form-group col-lg-3 col-md-6 col-sm-6 mx-auto">
        <label for="arg1Name">Argument Name</label>
        <input type="text" class="form-control" id="arg1Name">
      </div>
      <div class="form-group col-lg-3 col-md-6 col-sm-6 mx-auto">
        <label for="arg1type">Argument Type</label>
        <input type="text" class="form-control" id="arg1type" placeholder="float">
        <small class="form-text text-muted">only int, float, or text available</small>
      </div>
      <div class="form-group col-lg-2 col-md-4 col-sm-4 mx-auto">
        <label for="arg1from">From</label>
        <input type="text" class="form-control" id="arg1from">
      </div>
      <div class="form-group col-lg-2 col-md-4 col-sm-4 mx-auto">
        <label for="arg1to">To</label>
        <input type="text" class="form-control" id="arg1to">
      </div>
      <div class="form-group col-lg-2 col-md-4 col-sm-4 mx-auto">
        <label for="arg1step">Step</label>
        <input type="text" class="form-control" id="arg1step">
      </div>
    </form>
  </div>
  <div class="disableButton col-lg-2 col-md-2 col-sm-2">
    <button type="button" class="btn btn-secondary">Disable</button>
  </div>
</div>  