<!doctype html>
<html lang="en" ng-app="SketchApp">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <script src="{{url_for('static', filename='js/angular.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/app.js')}}"></script>

    <title>Data Stream Algorithms Benchmark</title>
  </head>
  <body>
    <header>
      <nav id='header-nav' class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <div class="navbar-brand">
              <a href="index.html"><h1>Data Stream Algorithms Benchmark</h1></a>
            </div><!-- .navbar-brand -->
          </div><!-- .navbar-header -->
          <div><a href="https://github.com/DSABenchmark/DSAB" target="_blank">Github</a></div>
        </div><!-- .container -->
      </nav><!-- #header-nav -->
    </header>
    {%raw%}
    <div id="dataset-setup" class="container" ng-controller="datasetController as dsc">
      <div class="row">
        <div class="col-md-12" style="text-align: center;"><h2 style="display: inline-block;" class="text-center">Please Select One or More Datasets</h2><span class="bottom-right" style="float: right;"><a href="https://github.com/Yuol96/pku-sketch-benchmark#select-datasets" target="_blank">Help</a></span></div>
      </div>
      <!-- <h2 class="text-center">Please Select One or More Datasets</h2> -->
      <div class="row">
        <div class="col-md-6" ng-repeat="dataset in dsc.datasetList"><button type="button" class="btn btn-light btn-lg btn-block {{dataset.state}}" ng-click="dsc.choose($index)" data-toggle="popover" data-trigger="hover" title="Dataset Info" data-html="true" data-content="{{dataset.html}}">{{ dataset.name }}</button></div>
        {%endraw%}
        <div class="col-md-6">
          <button type="button" class="btn btn-secondary btn-lg btn-block"><a href="{{url_for('skbm.addDataset')}}" target="_blank">Generate A Dataset</a></button>
        </div>
        {%raw%}
      </div>
      
    </div>
    {%endraw%}
    
    {%raw%}
    <div id="grid-setup" class="container" ng-controller="expController as ec">
      <div class="row">
        <div class="col-md-12" style="text-align: center;"><h2 style="display: inline-block;" class="text-center">Grid Search Experiments</h2><span class="bottom-right" style="float: right;"><a href="https://github.com/Yuol96/pku-sketch-benchmark#experiments-setup" target="_blank">Help</a></span></div>
      </div>
      <div class="row" ng-repeat="experiment in ec.experimentList">
        <div class="col-md-12">
          <div class="btn-group" role="group">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{experiment.sketchName}}
              </button>
              <ul class="dropdown-menu scrollable-menu" role="menu" aria-labelledby="dropdownMenuButton">
                <li ng-repeat="sk in ec.sketchList"><a class="dropdown-item" ng-click="ec.writeSketchName($index,$parent.$index)">{{sk.name}}</a></li>
                <li><div class="dropdown-divider"></div></li>
                {%endraw%}
                <li><a href="{{url_for('skbm.addSketch')}}" class="dropdown-item" target="_blank">Add Your Sketch</a></li>
                {%raw%}
              </ul>
            </div>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{experiment.taskName}}
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" ng-repeat="task in experiment.chosenSketch.tasks" ng-click="ec.writeTaskName(task.name, $parent.$index)">{{task.name}}</a>
              </div>
            </div>
            <button type="button" class="btn btn-danger" ng-click="ec.remove($index)">remove</button>
          </div>
        </div>
        <div class="col-md-12">
          <form>
            <div class="form-row" ng-repeat="param in experiment.params">
              <div class="col">
                <input type="text" class="form-control text-center" value="{{param.field}}" placeholder="Parameter" disabled>
              </div>
              <div class="col">
                <input type="value" class="form-control" placeholder="From" ng-model="param.from">
              </div>
              <div class="col">
                <input type="value" class="form-control" placeholder="To" ng-model="param.to">
              </div>
              <div class="col">
                <input type="value" class="form-control" placeholder="Step" ng-model="param.step">
              </div>
            </div>
          </form>
        </div>
        <hr>
      </div>
      <button type="button" style="font-size: 1.1em;" class="btn btn-secondary" ng-click="ec.addExperiment()" ng-disabled="ec.running">Add an Experiment</button>
    </div>
    {%endraw%}
    
    {%raw%}
    <div id="submit-container" class="container" ng-controller="submitController as sbc">
      <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="sbc.submitExperiments()" ng-disabled="sbc.running">Ready to Go!</button>
      <div align="center"><loading-spinner></loading-spinner></div>
    </div>
    {%endraw%}

    {%raw%}
    <!-- <div id="graph-container" class="container" ng-controller="graphController as gc">
      <form> 
        <div class="form-group">
          <label for="exampleFormControlSelect1">Y axis</label>
          <select class="form-control" id="exampleFormControlSelect1" ng-model="gc.chosen_yaxis">
            <option ng-repeat="yaxis in gc.result.yaxis">{{yaxis}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">X axis</label>
          <select class="form-control" id="exampleFormControlSelect1" ng-model="gc.chosen_xaxis" ng-if="var != gc.chosen_multilines">
            <option ng-repeat="var in gc.result.variables">{{var}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Multi-lines</label>
          <select class="form-control" id="exampleFormControlSelect1" ng-model="gc.chosen_multilines">
            <option ng-repeat="var in gc.result.variables" ng-if="var != gc.chosen_xaxis">{{var}}</option>
          </select>
        </div>
      </form>
      <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="gc.draw()">Draw</button>
      <button type="button" class="btn btn-link btn-lg btn-block"><a ng-href="{{gc.graphLink}}" target="_blank"><div>Get the graph!</div></a></button>
    </div> -->
    {%endraw%}

    {%raw%}
    <div id="graph-container" class="container" ng-controller="graphController2 as gc">
      <div class="row">
        <div class="col-md-12" style="text-align: center;"><h2 style="display: inline-block;" class="text-center">Graph</h2><span class="bottom-right" style="float: right;"><a href="https://github.com/Yuol96/pku-sketch-benchmark#the-graph-module" target="_blank">Help</a></span></div>
      </div>
      <form> <!-- ng-if="gc.result" -->
        <div class="form-group">
          <label for="exampleFormControlSelect1">Y axis</label>
          <select class="form-control" id="exampleFormControlSelect1" ng-model="gc.chosen_yaxis">
            <option value="default" selected="selected" hidden>Please select a metric</option>
            <option ng-repeat="yaxis in gc.result.yaxis">{{yaxis}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput">X Label</label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Name of X axis (DO NOT USE UNDERLINE!)" ng-model="gc.xlabel">
        </div>
        <div class="row">
          <div class="col-md-6">
            <button type="button" class="btn btn-secondary btn-block" ng-click="gc.addPoint()">Add a Point</button>
          </div>
          <div class="col-md-6">
            <button type="button" class="btn btn-danger btn-block" ng-click="gc.deletePoint()">Delete the last Point</button>
          </div>
        </div>
        <div class="form-group">
          <div class="form-row" ng-repeat="point in gc.pointList">
            <div class="col">
              <label for="Line">Line</label>
              <input id="Line" type="value" class="form-control" ng-model="point.line" placeholder="Name of Line">
            </div>
            <div class="col">
              <label for="Point">Point</label>
              <input id="Point" type="value" class="form-control" ng-model="point.index" placeholder="Value in x coordinate">
            </div>
            <div class="col">
              <label for="Experiment">Experiment</label>
              <input id="Experiment" type="value" class="form-control" ng-model="point.experimentIdx" placeholder="Index of Experiment">
            </div>
          </div>
        </div>
        <!-- <div class="form-row">
          <div class="col">
            <label for="nppl"># of points per line</label>
            <input id="nppl" type="text" class="form-control" ng-model="gc.num_points">
          </div>
          <div class="col">
            <label for="nl"># of lines</label>
            <input id="nl" type="text" class="form-control" ng-model="gc.num_lines">
          </div>
        </div> -->
        <div class="form-group">
          <div class="form-row">
            <input type="text" class="form-control" placeholder="Search Box" ng-model="gc.search">
          </div>
          <ul>
            <li ng-repeat="result in gc.result.results | filter : gc.search">{{$index}}. {{result.output_filename}}</li>
          </ul>
        </div>
      </form>
      <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="gc.draw()">Draw</button>
      <button type="button" class="btn btn-link btn-lg btn-block"><a ng-href="{{gc.graphLink}}" target="_blank"><div>Get the graph!</div></a></button>
    </div>
    {%endraw%}

    <script src="{{url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- <script src="{{url_for('static', filename='js/index.js')}}"></script> -->
    
  </body>
</html>