html {
	font-family: sans-serif;
}
#header-nav {
	background-color: lightgray;
}
header > nav > .container {
	margin-bottom: 0;
}

.navbar-brand a:hover, .navbar-brand a:focus  {
	text-decoration: none;
}
header {
	margin-bottom: 50px;
}
header h1 {
	font-size: 1.5em;
}

body > .container {
	background-color: #eee;
	margin-bottom: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.container > h2 {
	margin-bottom: 30px;
}
.container > button {
	margin-top: 30px;
}

#dataset-setup .list-group > a{
	font-size: 1.5em;
}

#dataset-setup button a:hover, #dataset-setup button a:focus  {
	text-decoration: none;
}
#dataset-setup button a{
	color: white;
}

.btn-group {
	margin-bottom: 5px;
}
.btn-group button {
	margin-right: 5px;
}
.btn-group > button {
	border-radius: 0.25rem !important;; 
}

input.form-control-plaintext {
	background-color: #fff;
	border-radius: 0.25rem;
}

div.form-row > div.col {
	margin-bottom: 5px;
}

hr {
	border-top: 2px solid #999;
	width: 50vw;
}

#submit-container{
	background-color: #fff;
}
#submit-container > button {
	margin-top: 0;
}

/*specific for addSketch.html*/
#add-param-button {
	margin-bottom: 20px;
}
#addSketch-container textarea {
	height: 400px !important;
	margin-top: 20px;
	margin-bottom: 20px;
}
#addSketch-container > form > div:nth-child(3) {
	margin-top: 20px;
}

button > a {
	text-decoration: none;
	width: 100%;
}

.scrollable-menu {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}

.bottom-right {
	text-align: right;
	align-self: center;
	font-size: 1.2em;
}

.right {
	text-align: right;
	font-size: 1.2em;
}









